body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);

  /* 회전 애니메이션 추가 */
  animation: spin 10s linear infinite;
}

/* spin 애니메이션 정의 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
